body {
	display: inline;
	max-width: 960px
}

h1 {
	padding-left: 10px;
}

#left-section {
	border: 1px solid blue;
	display: inline-block;
	vertical-align: top;
	
}

#right-section {
	width: 40%;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;

	min-width: 352px !important;


}

img {
	border: 1px solid red;
	vertical-align: top;
	width: 500px;
	float: left;
	margin-right: 10px;
}

#sizing {
	width: 100px;

background-image: url("https://dl.dropboxusercontent.com/s/ycn67uwuflqezft/fit1.jpg?dl=0");
background-size: 200px;
background-position: right;
background-repeat: no-repeat;
}
table,td,tr {

	border: 1px solid #808080;
	border-collapse: collapse;
	padding:2px;
	margin: 2px;
	
}

th,td {
	padding: 2px; 
	background-color: #dddddd
	text:left;

}
th { 
	font-family: cursive;
	font-size: 2em;
	background-color: gray;

 }

 footer {
 	text-align: center;
 	padding: 10px;
 }


/*@media screen and (max-width: 350px) {
  #right-section {
    margin: auto;
    min-width: 200px;
      }*/

